node_red_data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "AI Alerts",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "mqtt-broker",
        "name": "EMQX",
        "broker": "emqx",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0e45c8c7cafe4e98",
        "type": "mqtt-broker",
        "name": "mqtt服务器",
        "broker": "emqx",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d4b2a1f1.1a2b3c",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Smoking Alerts",
        "topic": "ai/alarm/smoking/+",
        "qos": "0",
        "datatype": "auto",
        "broker": "3cc11d24.ff01a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "e5c3b2a1.2b3c4d",
                "a1b2c3d4.e5f6a7"
            ]
        ]
    },
    {
        "id": "e5c3b2a1.2b3c4d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Alert Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "a1b2c3d4.e5f6a7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Format Alert",
        "func": "var topicParts = msg.topic.split('/');\nvar camId = topicParts[topicParts.length - 1];\nmsg.payload = {\n    event: \"SMOKING_DETECTED\",\n    camera: camId,\n    timestamp: new Date().toISOString(),\n    details: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "b2c3d4e5.f6a7b8"
            ]
        ]
    },
    {
        "id": "b2c3d4e5.f6a7b8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Formatted Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "c3d4e5f6.a7b8c9",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Occupancy Status",
        "topic": "ai/status/occupancy/+",
        "qos": "0",
        "datatype": "auto",
        "broker": "3cc11d24.ff01a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "d4e5f6a7.b8c9d0"
            ]
        ]
    },
    {
        "id": "d4e5f6a7.b8c9d0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Occupancy Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    }
]